@import url(http://weloveiconfonts.com/api/?family=zocial);

/* zocial */
[class*="zocial-"]:before {
  font-family: 'zocial', sans-serif;
}


body {
	font-family: 'Lato', sans-serif;
}


header {
	width: inherit;
}


hr {
	height: 3px;
	background-color: #bcbbbb;
}


h1 {
	color: #747704;
	font-weight: 100;
	text-transform: uppercase;
	font-size: 3em;
	margin: 0 0 0.1em;
}


h2 {
	color: #bcbbbb;
	font-size: 2.2em;
	font-weight: 300;
}


h3 {
	color: #747704;
	text-transform: uppercase;
	font-size: 2em;
	font-weight: 400;
	margin: 0.5em 0 0.2em;
}


h4 {
	color: #747704;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	margin: 0 0 0.5em;
}


p {
	margin: 0 0 0.5em;
}


a {
	text-decoration: none;
	color: #bcbbbb;
}


h3 a {
	text-decoration: none;
	color: #747704;
}


h3 a:visited {
	color: #747704;
}


.container {
	width: 100%;
  	display: flex;
  	flex-wrap: wrap;
}


.row {
	width: 100%;
}


img.main {
	width: 100%;
}


.logo {
	width: 25%;
	float: left;
}


.name {
	width: 75%;
	float: left;
}


.screen-full {
	width: 100%;
	float: left;
}


.header-right {
	text-align: right;
}


.social {
	font-size: 1.5em;
	color: #02c931;
}


/*small screens */
@media screen and (max-width: 450px) {
	h1 {
		font-size: 2em;
	}


	h2 {
		font-size: 1.8em;
	}


	h3 {
		font-size: 1.5em;
	}


	.samples {
		width: 100%;
		text-align: center;
	}


	.img-samples {
		width: 100%;
	}
}


/*medium screens */
@media screen and (min-width: 451px) and (max-width: 799px) {
	h2 {
		font-size: 2em;
	}


	h3 {
		font-size: 1.3em;
	}


	p {
		display: none;
	}


	.samples {
		float: left;
		margin-right: 30px;
		width: calc((100% - 60px)/3);
		text-align: center;
	}


	#lastsample {
		margin-right: 0;
	}


	.img-samples {
		width: 100%;
	}


	.icon {
	display: inline;
	}
}


/*large sreens */
@media screen and (min-width: 800px) {
	.samples {
		float: left;
		margin-right: 30px;
		width: calc((100% - 60px)/3);
		text-align: center;
	}


	#lastsample {
		margin-right: 0;
	}


	.img-samples {
		width: 100%;
	}


	h1 {
		color: #747704;
		font-weight: 100;
		text-transform: uppercase;
		font-size: 3em;
	}


	h2 {
		color: #bcbbbb;
		font-size: 2.2em;
		font-weight: 300;
	}


	h3 {
		color: #747704;
		text-transform: uppercase;
		font-size: 2em;
		font-weight: 400;
	}


	h4 {
		color: #747704;
		text-transform: uppercase;
		letter-spacing: 0.1em;
	}


	p {
		font-size: 0.7em;
	}
}


/*centering on very large screens*/
@media screen and (min-width: 873px) {
	.container {
	width: 873px;
	margin: 0 auto;
	}
}




